<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <div class="container">
    <h1>Welcome to Book Tracker</h1>
    <h2>your personal library.</h2>
    </div>
</body>
</html>