h1{
    color: rgb(14, 25, 233);
}
.completed{
    text-decoration: underline-dotted;
    color: gray;
}
.not{
    text-decoration: underline;
}

.title {
    font-size: 50px;
}

li.btn  {
    list-style: none;
}

.todoItem {
    list-style: none;
}

